.messageBox{
   /* border-style: solid; */
   border-color: rgb(28, 169, 169);
   /* background-color: rgb(206, 165, 165); */
   /* width: 50%; */
   padding: .5vmax;
   margin: 1vmax;
   border-radius: .5vmax;
   display: inline-block;
   box-sizing: border-box;
   clear: both;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 300;
   font-size: 2vmax;
}

.right{
   float: right;
   background-color: rgb(58, 98, 218);
   color: white;
   margin-right: 5%;
   text-align: right;
}

.left{
   float: left;
   text-align: left;
   color: white;
   margin-left: 5%;
   background-color: rgb(58, 98, 218);
}
.center{
   float:left;
   font-size: 1.5vmax ;
   width: 90%;
   margin-left: 5%;
   background-color: rgb(175, 227, 20);
   color: rgb(20, 18, 18);
   border: solid;
   text-align: center;
}