.ChatPage{
   /* border: solid red; */
   /* width: fit-content;
   height: fit-content; */
   /* background-color: rgb(231, 196, 161); */
   background-size:cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.ChatContainer{
   
   background-color: rgba(239, 236, 236,.8);
   width:70%;
   height: 60%;
   /* border: solid red; */
   padding-bottom: 0;
   border-radius: 20px;
   margin-bottom: 2vmax;
   box-shadow: 0px 0px 30px black;
}

.header{
   width: 70.2%;
   height: 10%;
   margin-bottom: 2vmax;
   /* border: 0.2vmax solid black; */
   border-radius: 10px;
   /* background-color: rgb(232, 45, 83); */
   background-image: linear-gradient(to right,rgba(43, 43, 220,1),rgba(54, 211, 54,.8));
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header >h2{
   color: white;
   /* border-style: solid; */
   margin: 2vmax;
   cursor: pointer;
}

.header >a{
   font-size: 1.5vmax;
   margin: 2vmax;
   transition: all 0.3s;
   color: black;
}

.header > a:hover{
   transform: scale(1.5);
}

.chatBox{
   /* border: 0.2vmax solid black; */
   height: 100%;
   box-sizing: border-box;
   /* overflow-y: auto; */
}

.inputBox{
   border-radius: 10px;
   margin: 0;
   width: 70.2%;
   background-color: rgba(128, 128, 128,.8);
   /* border: 0.2vmax solid black; */
   height: 10%;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .8vmax; 
}

#chatInput{
   width: 90%;
   padding: 5px;
   /* border-color: red; */
   border-radius: 10px;
   outline: none;
   border: none;
   /* margin-top: 1.5vmax; */
   outline: none;
   font-size: 1.8vmax;
   font-family: 'Lato';
   /* text-align: center; */
   box-sizing: border-box;
   border-top: 0.2vmax solid;
   margin: .1vmax;
}

.sendBtn{
   margin: .2vmax;
   background-color: rgb(20, 131, 221) !important;
   color: white;
   /* border-color: white; */
   border-radius: 10px;
   width: 10%;
   height: 95%;
   padding: 20px;
   outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2vmax !important;
   font-family: 'Lato';
   box-sizing: border-box;
   transition: all 0.3s;
   cursor: pointer;
}

.sendBtn:hover{
   background-color: rgb(207, 137, 24);
   transform:translateX(10px);
}
