.ChatPage{
   background-color: rgb(231, 196, 161);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ChatContainer{
   background-color: white;
   width: 60%;
   height: 60%;
   border-radius: 10px;
}

.header{
   height: 15%;
   /* border: 0.2vmax solid black; */
   border-radius: 5px;
   background-color: rgb(232, 45, 83);
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header >h2{
   color: white;
   /* border-style: solid; */
   margin: 2vmax;
   cursor: pointer;
}

.header >a{
   font-size: 1.5vmax;
   margin: 2vmax;
   transition: all 0.3s;
   color: black;
}

.header > a:hover{
   transform: scale(1.5);
}

.chatBox{
   /* border: 0.2vmax solid black; */
   height: 75%;
   box-sizing: border-box;
   /* overflow-y: auto; */
}

.inputBox{
   /* border: 0.2vmax solid black; */
   height: 10%;
   box-sizing: border-box;
   display: flex;
}

#chatInput{
   width: 90%;
   padding: .8vmax;
   /* border-color: red; */
   border-radius: 10px;
   outline: none;
   border: none;
   /* margin-top: 1.5vmax; */
   outline: rgb(36, 239, 111);
   font-size: 1.8vmax;
   font-family: 'Lato';
   /* text-align: center; */
   box-sizing: border-box;
   border-top: 0.2vmax solid;
}

.sendBtn{
   background-color: rgb(232, 45, 83);
   color: white;
   border-color: white;
   border-radius: 10px;
   width: 15%;
   font-size: 1.5vmax;
   font-family: 'Lato';
   box-sizing: border-box;
   transition: all 0.3s;
   cursor: pointer;
}

.sendBtn:hover{
   background-color: rgb(207, 137, 24);
   transform:translateX(10px);
}
